body{
    background: #111;
}

#wrap{
    width: 500px;
    margin: 0 auto;
    display: block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    border: 8px solid #f5c246;;
    outline: 3px solid #7f6024;
    top: -80px;
    z-index: 0 !important;
}

#game-window{
    width: 400px;
    height: 350px;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.37); 
    padding: 50px;
    padding-top: 100px;
    overflow: auto;
    font-size: 18px;
    z-index: 0;
}


#header-image{
    width: 400px;
    margin: 0 auto;
    display: block;
    z-index: 1000 !important;
    position: relative;
}

#title-span{
    width: 500px;
    height: 25px;
    color: black;
    background: #f5c246;
    text-align: center;
    padding-top: 5px;
}


#options{
    width: 500px;
    height: 100px;
    background: rgb(24, 24, 24); 
    position: relative;
}

.button{
    cursor: pointer;
    height: 50px;
    width: 250px;
    border: none;
    position: absolute;
    background: rgb(20, 20, 20);
    color: white;
    z-index: 5;
    transition: all .1s;
    font-size: 17px;
}

.button:hover{
    background: rgb(24, 24, 24);
}

.button:active{
    transform: scale(0.95);
}

button:focus {outline:0;}


.text{
    display: block;
    color: rgb(104, 104, 104);
    margin-bottom: 10px;
}

.active-text{
    display: block;
    color: #f5c246;
}
